@using PersonalWebSite.Models
@model List<Comment>
@{
}

<div class="container my-5 py-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10">
            <div class="card text-dark">
                <div class="card-body p-4">
                    <h4 class="mb-0">Recent comments</h4>
                    <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>
                    
                    @if (Model != null && Model.Count > 0)
                    {
                        foreach (var comment in Model)
                        {
                             <div class="d-flex flex-start">
                                <div>
                                    <h6 class="fw-bold mb-1">@comment.UserName @comment.UserSurname</h6>
                                    <div class="d-flex align-items-center mb-3">
                                        <p class="mb-0">Posted on @comment.TimeStamp</p>
                                    </div>
                                    <p class="mb-0">@comment.Text</p>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>There are no comments right now.</p>
                        <hr />
                    }
                </div>
                <div class="card-body p-4">
                        <a href="/Home/LeaveComment" class="btn btn-light">Leave a comment</a>
                </div>
            </div>
        </div>
    </div>
</div>
