@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<body class="bg">
	<div class="con">

		<form action="https://formspree.io/f/xpzbkjbg" method="post">
			<h3>İletişim</h3>
			İsminiz:
			<input type="text" class="name" placeholder="İsminiz" name="name" required>

			E-Mail:
			<input type="email" class="email" placeholder="E-Mail" name="email" required>

			Mesajınız:
			<textarea id="message" class="message" name="message" rows="5" placeholder="Mesajınız" required></textarea>

			<button type="reset" name="clear">Temizle</button>					 
			<button type="submit" class="submit" name="send">Gönder</button>

		</form> 
	</div>
</body>