@{
	ViewData["Title"] = "Detay";
}

<section class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-12 text">
				<h4 id="par-title">Hayat Özetim:</h4>
				<p>Adım Erim Vurucu. 8 Mart 2001 yılında İstanbul Fatih'te doğdum. Zamanımda 8 yıl olan ilköğretimin ortasında eğitim sistemi değişti. İlköğretim 4 yıl, ortaöğretim 4 yıl olarak düzenlendi ve benim okulum ilköğretim olmayı seçip bizi mezun etmeye söz vermiş olmasına rağmen 7.senem bittiğinde bizi başka okula aktarma kararı aldı. Ailem zaten memleketleri olan Sakarya'ya taşınmayı düşünüyordu ancak okulumun bitmesini bekliyorlardı. Halihazırda yeni okula geçmem gerekeceği için Sakarya'ya taşındık. Son sınıfımı ve lisemi burada okudum.</p>
				<p>Üniversite sınavı sonucunda lise başından beri aklımdaki tek bölüm olan bilgisayar mühendisliğine Trakya Üniversitesi'nde başladım. Burada eğitim gördüğüm 2 senenin ardından yatay geçiş ile Sakarya Üniversitesi'ne geçiş yaptım. Şuan 3. sınıf olarak öğrenciliğime devam ediyorum.</p>
			</div>
			<div class="col-md-2 col-sm-12"></div>
			<div class="col-md-5 col-sm-12 text">
				<h4 id="par-title">Etkinliklerim:</h4>
				<p>Henüz İstanbul'da iken ilkokul 5.sınıfta öğretmenimin ısrarları sonucu bir matematik olimpiyatına katıldım ve bu olimpiyatta derece yapıp ödül aldım.</p>
				<p>Aynı dönemlerde hafta sonları Cerrahpaşa Tıp Fakültesi içerisinde bulunan İstanbul Üniversitesi Basketbol Kulübü'ne giderdim. Sadece hobi olarak gittiğim bir sürenin ardından beni takıma çağırdılar. Yaz tatilinin ardından takımda oynamaya başlayacak iken o yaz bir bisiklet kazasında kolumu kırdım. Uzun süren bir iyileşme dönemin ve okul durumumun belirsizliği sebebiyle belkide profesyonel basketbol hayatım başlamadan bitmiş oldu ama basketbol hep hobim olarak kalmaya devam etti ve edecek.</p>
				<p>Sakarya'ya taşınmamızın ardından yeni okulumda, 8.sınıfta daha önce sadece birkaç kez oynamış olduğum masa tenisine başladım. Her gün okul çıkışlarında okulun zaten yıllardır olan takımının çalışmalarına katılırdım. Birkaç aylık öğrenme sürecimin ardından takıma dahil oldum. Bu takımla birkaç yerel turnuvaya katıldık. Liseye geçmemle birlikte lisemin masa tenisi takımında bir sene daha devam ettim. 8.sınıftaki kadar eğlenmediğim için takımı bıraktım ve böylece masa tenisi de bir hobi olarak kalmış oldu.</p>
			</div>
		</div>
	</div>
</section>
