@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text">
				<h3>Sakarya</h3>
				<p>
					Yüzölçümü: 482,109.70 hektar<br>
					Nüfus: 1.060.876 (2021)
				</p>
				<p>Sakarya, Türkiye'nin en kalabalık yirmi ikinci şehri. Aynı zamanda 2021 yılında Danimarka'da aldığı ödül ile bisiklet şehri ünvanını kazanmıştır.</p>
				<p>Denizi, kumsalları, gölleri, nehirleri, yaylaları, kaplıcaları yanında Taraklı ve Geyve gibi Osmanlı dönemi yerleşim yerlerindeki geleneksel yaşantısıyla, Bizans ve Osmanlı dönemi tarihi eserleriyle ülkemizin görülmeye değer cennet köşelerinden biridir.</p>
				<p>Türklerin XIII. yüzyılda fethettiği Sakarya iline, Kafkasya’dan, Balkanlardan XVIII. ve XIX. yüzyıllarda yoğun göçler yaşanmıştır. Yüzyılın son kitlesel göçüyle 1989 yılında Bulgaristan’dan soydaşlarımız gelmiştir. Gelişen sanayisi ve ulaşım yollarının kavşak noktası Sakarya’ya günümüzde de iç göçler halen sürmektedir.</p>
				<p>Sakarya ili, doğudan Düzce ili, güneydoğudan Bolu ili, güneyden Bilecik ili, batıdan Kocaeli ili ve kuzeyden ise Karadeniz ile çevrilidir. Sakarya ilinin 16 ilçesi bulunmaktadır. Bunlar; Adapazarı, Akyazı, Arifiye, Erenler, Ferizli, Geyve, Hendek, Karapürçek, Karasu, Kaynarca, Kocaali, Pamukova, Sapanca, Serdivan, Söğütlü ve Taraklı’dır.</p>
			</div>
		</div>
	</div>
</section>