@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>Hakkında</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <div class="row">
        <div class="col-md-3 col-sm-0"></div>
        <div class="col-md-6 col-sm-12 center">
            <div class="avatar">
                <img src="~/Images/mypic.jpg" />
            </div>
            <div class="col-md-12 col-sm-12 content">
                <h2>Erim Vurucu</h2>
                <h5>Bilgisayar Mühendisliği Öğrencisi</h5>
                    <p>Hali hazırda Sakarya Üniversitesinde lisans eğitimime devam etmekteyim. Genel olarak yazılım geliştirme ve yapay zeka ile uğraşmaktayım. Bana ulaşmak veya hakkımda daha detaylı bilgi için siteme ve aşağıdaki sosyal medya linklerine göz atabilirsiniz.</p>
                <h5>Sosyal Medya Hesaplarım</h5>
                <div class="social">
                    <a href="https://www.linkedin.com/in/erim-vurucu-248a26237/"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/ErimV"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-0"></div>
    </div>
</body>

