@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<body class="bg">
	<div class="con">
		<form action="" method="post">
			<h3>Sign Up</h3>
			Name:
			<input type="text" size="25" maxlength="150" placeholder="Name" name="name" required>

			Surname:
			<input type="text" size="25" maxlength="150" placeholder="Surname" name="surname" required>

			Title:
			<input type="text" size="25" maxlength="150" placeholder="Title" name="title">

			E-Mail:
			<input type="email" size="25"  maxlength="150" placeholder="E-Mail" name="email" required>

			Password:
			<input type="password" size="25" maxlength="150" placeholder="Password" name="password" required>

			<button type="submit" name="signup">Sign Up</button>
		</form> 
	</div>		
</body>