@{
	ViewData["Title"] = "Özgeçmiş";
}

<section class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<article class="outer">
					<h3>Eğitim</h3>
					<article class="inner">
						<h4>Sakarya Üniversitesi 2021-Devam</h4>
						<p> Bilgisayar ve Bilişim Bilimleri Fakültesi / Bilgisayar Mühendisliği / 4.Sınıf / 3,02 GNO</p>
					</article>
					<article class="inner">
						<h4>Trakya Üniversitesi 2019-2021</h4>
						<p> Mühendislik Fakültesi / Bilgisayar Mühendisliği / 5.dönem Sakarya Üniversitesi’ne yatay geçiş yapıldı.</p>
					</article>
					<article class="inner">
						<h4>Tes-iş Adapazarı Anadolu Lisesi 2015-2019</h4>
						<p> 85,53 Not Ortalaması / 2018 ve 2019 yıllarında 2 Onur Belgesi</p>
					</article>
				</article>
			</div>

			<div class="col-md-12 col-sm-12">
				<article class="outer">
					<h3>Tecrübe</h3>
					<article class="inner">
						<h4>Talha Özay Uluğ Berrak Teknoloji 06/2022-07/2022</h4>
						<h5>Stajyer</h5>
						<p> STM32 Mikro denetleyicileri ile gömülü programlama</p>
					</article>
				</article>
			</div>

			<div class="col-md-6 col-sm-12">
				<article class="outer">
					<h3>Teknik Yetenekler</h3>
					<article class="inner">
						<h4>Diller</h4>
						<p> <b>Yetkin Olunan:</b> C, Java, Python</p>
						<p> <b>Aşina Olunan:</b> Assembly, VHDL, HTML, CSS</p>
					</article>
					<article class="inner">
						<h4>Yazılım</h4>
						<p> <b>Veritabanı:</b> PostgreSQL</p>
						<p> <b>Programlar:</b> MS Word, MS PP, ModelSim, Quartus II, Keil</p>
					</article>
				</article>
			</div>

			<div class="col-md-6 col-sm-12">
				<article class="outer">
					<h3>Diğer Yetenekler</h3>
					<article class="inner">
						<h4>Yabancı Dil</h4>
						<p> İngilizce – Okuma: İyi, Yazma: İyi, Konuşma: Orta</p>
					</article>
					<article class="inner">
						<h4>Diğer Yetkinlikler</h4>
						<ul>
							<li>
								<p>Takım çalışmasına yatkın</p>
							</li>
							<li>
								<p>Sürekli öğrenmeye açık</p>
							</li>
							<li>
								<p>Sorumluluk sahibi</p>
							</li>
						</ul>
					</article>
				</article>
			</div>

			<div class="col-md-12 col-sm-12">
				<article class="outer">
					<h3>Projelerim</h3>
					<article class="inner">
						<h4>GitHub</h4>
						<p> <a href="https://github.com/ErimV">https://github.com/ErimV</a></p>
					</article>
				</article>
			</div>

		</div>
	</div>
</section>